.member-container {
  display: flex;
  margin: 10px;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}
.center-screen {
  margin: 20px 100px 0px 100px;
}
/* body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f7fa;
  color: #333;
} */
/* body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url("./assets/Image.jpg") no-repeat center center fixed;
  /* width: 200px; */
/* height: auto;
  background-size: cover;
  color: #fff;
} */
