.heading {
  background-color: blue;
  display: flex;
  justify-content: center;
}
.container {
  /* display: flex; */
  border: 1px solid black;
  max-width: none;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
